---
import { getCollection, render } from 'astro:content';
import GridLayout from '@layouts/GridLayout.astro';
import ProfileCard from '@components/widgets/ProfileCard.astro';
import '@/styles/article.scss';

export async function getStaticPaths() {
  const articles = await getCollection('posts');
  return articles.map((article) => ({
    params: { article: article.data.abbrlink },
    props: { article },
  }));
}

const { article } = Astro.props;
const { Content } = await render(article);
---

<GridLayout>
  <div class="theme-card-bg theme-border border-2 px-6 py-4 rounded-xl">
    <article>
      <Content />
    </article>
  </div>
  <Fragment slot="aside">
    <ProfileCard />
  </Fragment>
</GridLayout>
