---
import { asideConfig, commentConfig } from '@/config';
import I18nKey from '@i18n/I18nKey';
import { i18n } from '@i18n/translation';
import ArtalkRecentCommentScript from './recent-comments/Artalk.astro';
import TwikooRecentCommentScript from './recent-comments/Twikoo.astro';
import WalineRecentCommentScript from './recent-comments/Waline.astro';
---

<div id="recent-comments-card" class="card border-base-300 bg-base-200/25 border">
  <div class="card-body px-4 py-2">
    <div class="card-title">
      {i18n(I18nKey.recentComments)}
    </div>
    <ul class="list">
      <template>
        <li class="list-row px-0">
          <a class="avatar">
            <div class="w-16 min-w-16 rounded-md"></div>
          </a>
          <div class="flex w-full flex-col justify-between">
            <a class="hover:text-primary line-clamp-2 w-full overflow-clip"></a>
            <time class="text-base-content/60 text-xs"></time>
          </div>
        </li>
      </template>
      {
        Array.from({ length: asideConfig.recentComment.count }).map(() => (
          <li class="list-row comment-placeholder px-0">
            <a class="avatar">
              <div class="skeleton w-16 min-w-16 rounded-md" />
            </a>
            <div class="flex w-full flex-col justify-between">
              <div class="flex flex-col gap-2">
                <div class="skeleton h-4 w-full" />
                <div class="skeleton h-4 w-[100%-2rem]" />
              </div>
              <div class="skeleton h-4 w-10" />
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</div>

{
  (() => {
    switch (commentConfig.provider) {
      case 'twikoo':
        return <TwikooRecentCommentScript />;
      case 'waline':
        return <WalineRecentCommentScript />;
      case 'artalk':
        return <ArtalkRecentCommentScript />;
      default:
        throw new Error(
          `Unsupported comment provider: '${commentConfig.provider}' for recent comments`
        );
    }
  })()
}
