article {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }

  h5 {
    @apply text-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    display: inline;
    width: 100%;
    scroll-margin-top: 4rem;
    font-weight: bold;
    margin: 1rem 0 0.5rem;
  }

  p {
    @apply my-2;
  }

  img {
    @apply mx-auto my-4 rounded-md;
  }

  hr {
    @apply border-dashed border-2;
    @apply mx-2 my-4;
  }

  a {
    @apply text-[var(--theme-color-light)] dark:text-[var(--theme-color-dark)];
  }
}
