@import 'tailwindcss';

@plugin 'daisyui' {
  themes:
    light --default,
    dark --prefersdark;
}

@plugin 'daisyui/theme' {
  name: 'light';

  --color-primary: #9b1b1f;
  --color-primary-content: #f8e6e0;
  --color-secondary: #ff6726;
  --color-secondary-content: #fef3b8;
  --color-accent: #7dbcd2;
  --color-accent-content: #fef5f3;
  --color-base-100: #efeeee;
  --color-base-200: #dad9dc;
  --color-base-300: #cdcad4;
  --color-base-content: #111;

  /* Border Radius */
  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
}

@plugin 'daisyui/theme' {
  name: dark;

  --color-primary: #7d49e7;
  --color-primary-content: #f7f0fa;
  --color-secondary: #c652e9;
  --color-secondary-content: #e9e2e8;
  --color-accent: #91bed2;
  --color-accent-content: #fffeff;
  --color-base-100: #222023;
  --color-base-200: #333134;
  --color-base-300: #463d3c;
  --color-base-content: #eee;

  /* Border Radius */
  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
}

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] * ));

@theme {
  --tracking-extra-wide: 0.25em;
}

html {
  scroll-behavior: smooth;
}
