@import 'tailwindcss';

@plugin 'daisyui' {
  themes:
    light --default,
    dark --prefersdark;
}

@plugin 'daisyui/theme' {
  name: 'light';

  --color-primary: #bc4d2e;
  --color-primary-content: #fefedb;
  --color-secondary: #efbf89;
  --color-secondary-content: #111;
  --color-accent: #742c22;
  --color-accent-content: #fff;
  --color-base-100: #eeedea;
  --color-base-200: #e6e2de;
  --color-base-300: #dad5d0;
  --color-base-content: #111;

  /* Border Radius */
  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
}

@plugin 'daisyui/theme' {
  name: dark;

  --color-primary: #88b7dc;
  --color-primary-content: #fff;
  --color-secondary: #c47890;
  --color-secondary-content: #fff;
  --color-accent: #a343b0;
  --color-accent-content: #fff;
  --color-base-100: #272a3c;
  --color-base-200: #18192a;
  --color-base-300: #11121f;
  --color-base-content: #eee;

  /* Border Radius */
  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
}

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] * ));

@theme {
  --tracking-extra-wide: 0.25em;
}

html {
  scroll-behavior: smooth;
}
