@import 'tailwindcss';

@plugin 'daisyui' {
  themes:
    light --default,
    dark --prefersdark;
}

@plugin 'daisyui/theme' {
  name: 'light';

  --color-primary: #4f94c9;
  --color-primary-content: #e9f2ff;
  --color-secondary: #d03564;
  --color-secondary-content: #f3d0e3;
  --color-accent: #f3d5f8;
  --color-accent-content: #6c4ad1;
  --color-base-100: #f2e8e0;
  --color-base-200: #e8dbcd;
  --color-base-300: #d3bcab;
  --color-base-content: #111;

  /* Border Radius */
  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
}

@plugin 'daisyui/theme' {
  name: dark;

  --color-primary: #4f94c9;
  --color-primary-content: #e9f2ff;
  --color-secondary: #d03564;
  --color-secondary-content: #f3d0e3;
  --color-accent: #6c4ad1;
  --color-accent-content: #ffebff;
  --color-base-100: #0e1221;
  --color-base-200: #172849;
  --color-base-300: #2a3c5a;
  --color-base-content: #eee;

  /* Border Radius */
  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
}

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] * ));

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-2xs: 20rem;
  --breakpoint-3xs: 15rem;
  --tracking-extra-wide: 0.25em;
}

html {
  scroll-behavior: smooth;
}
