$theme-color-light: #f69279;
$theme-color-dark: #2e6c8b;
$theme-bg-color-light: theme('colors.neutral.50');
$theme-bg-color-dark: theme('colors.neutral.900');
$theme-card-bg-color-light: $theme-bg-color-light;
$theme-card-bg-color-dark: $theme-bg-color-dark;
$theme-text-color-light: theme('colors.neutral.900');
$theme-text-color-dark: theme('colors.neutral.100');
$theme-text-color-secondary-light: theme('colors.neutral.600');
$theme-text-color-secondary-dark: theme('colors.neutral.400');
$theme-border-color-light: theme('colors.neutral.200');
$theme-border-color-dark: theme('colors.neutral.800');
