---
import ImageWrapper from '@components/utils/ImageWrapper.astro';
import { Icon } from 'astro-icon/components';

interface Props {
  url: string;
  title: string;
  cover: string;
}

const { url, title, cover } = Astro.props;
---

<a href={url} title={title} class="group">
  <div class="cover-mask">
    <Icon name="material-symbols:chevron-right-rounded" />
  </div>
  <ImageWrapper src={cover} alt={title} />
</a>

<style>
  a {
    @apply relative min-h-48 w-full overflow-hidden rounded-md md:w-3/4 md:max-w-96;
    @apply duration-100 active:scale-95 active:brightness-75;
  }

  div.cover-mask {
    @apply absolute inset-0 z-10 h-full w-full bg-black/60;
    @apply flex items-center justify-center;
    @apply opacity-0 duration-300 group-hover:opacity-100;
  }

  svg {
    @apply h-24 w-24 text-white;
  }
</style>
