---
import I18nKey from '@i18n/I18nKey';
import { i18n } from '@i18n/translation';
import { Icon } from 'astro-icon/components';
import type { ComponentProps } from 'astro/types';

type Props = Omit<ComponentProps<typeof Icon>, 'name'>;

const { href, title, ...rest } = Astro.props;
---

<a href={href} title={title || i18n(I18nKey.more)}>
  <Icon name="material-symbols:chevron-right-rounded" {...rest} />
</a>

<style>
  a {
    @apply duration-100 max-md:hidden;
    @apply hover:brightness-125;
    @apply active:scale-95 active:brightness-75;
  }

  svg {
    @apply h-full min-h-48 w-12 rounded-md;
    @apply text-[var(--theme-color-light-darken)] dark:text-[var(--theme-color-dark-lighten)];
    @apply bg-[var(--theme-color-light-trans-1d2)] dark:bg-[var(--theme-color-dark-trans-1d2)];
  }
</style>
