---
import I18nKey from '@i18n/I18nKey';
import { i18n } from '@i18n/translation';
import { Icon } from 'astro-icon/components';
import type { ComponentProps } from 'astro/types';

type Props = Omit<ComponentProps<typeof Icon>, 'name'>;

const { href, title, ...rest } = Astro.props;
---

<a href={href} title={title || i18n(I18nKey.more)}>
  <Icon name="material-symbols:chevron-right-rounded" {...rest} />
</a>

<style>
  a {
    @apply duration-150 hover:brightness-125 active:brightness-75 max-md:hidden;
  }

  svg {
    @apply text-primary bg-primary/40 h-full min-h-48 w-12;
  }
</style>
