---
import { AstroParameterConflictError } from '@/types/Errors';

interface Props {
  id: string;
  href?: string;
  onclick?: string;
}
let { id, href, onclick } = Astro.props;

if (href && onclick) throw new AstroParameterConflictError('href', 'onclick');
if (href) onclick = `window.location.assign(\`${href}\`)`;
else onclick = '';
---

<button id={id} onclick={onclick} class="widget-text-button">
  <slot />
</button>

<style lang="stylus">
.widget-text-button
  display flex
  align-items center
  padding 0.5rem 0.75rem
  margin 0.5rem
  text-align center
  word-break break-word
  transition-duration 300ms
  border-radius 9999px
  width fit-content
  height fit-content

  &:hover
    background-color #3b82f6
</style>
