---
import type { MarkdownHeading } from 'astro';

interface Props {
  class?: string;
  headings: MarkdownHeading[];
}

const { headings = [], class: className } = Astro.props;
const minDepth = Math.min(...headings.map((h) => h.depth));
const maxLevel = 3;
---

<div
  id="toc"
  class:list={['card card-bordered border-base-300 bg-base-100 border-2', className]}
  transition:name="toc-card"
>
  <div class="card-body p-2">
    {
      headings
        .filter((heading) => heading.depth < minDepth + maxLevel)
        .map((heading) => (
          <a class:list={[`level-${heading.depth - minDepth + 1}`]} href={`#${heading.slug}`}>
            {heading.text}
          </a>
        ))
    }
  </div>
</div>

<style>
  $max-level: 3;

  a {
    display: block;
    padding: 0.5rem 1rem;

    @apply duration-200;
    @apply hover:scale-105;
    @apply active:scale-95;
  }
</style>
