---
import { AstroParameterConflictError } from '@/types/Errors';

interface Props {
  id: string;
  description?: string;
  href?: string;
  onclick?: string;
}
let { id, description, href, onclick } = Astro.props;

if (!description) description = '';

if (href && onclick) throw new AstroParameterConflictError('href', 'onclick');
if (href) onclick = `window.location.href(\`${href}\`)`;
else if (!onclick) onclick = '';
---

<button id={id} onclick={onclick} title={description} class="widget-icon-button">
  <slot />
</button>

<style lang="stylus">
.widget-icon-button
  display flex
  align-items center
  padding 0.5rem
  margin 0.5rem
  text-align center
  word-break break-word
  transition-duration 300ms
  border-radius 9999px
  width fit-content
  height fit-content

  &:hover
    background-color #3b82f6
</style>
