---
import '@/styles/twikoo.css';
import { CDN } from '@constants/cdn.mjs';
---

<div id="twikoo-wrap"></div>
<script src={CDN.twikoo} crossorigin="anonymous" is:inline data-astro-rerun></script>
<script>
  import { commentConfig } from '@/config';
  const twikooConfig = commentConfig.twikoo;
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  declare const twikoo: any;

  function setup() {
    if (typeof twikoo === 'undefined') {
      setTimeout(setup, 100);
    } else {
      twikoo.init({
        el: '#twikoo-wrap',
        ...twikooConfig,
      });
    }
  }

  document.addEventListener('astro:page-load', setup);
  setup();
</script>
