---
import I18nKey from '@i18n/I18nKey';
import { i18n } from '@i18n/translation';
import { getCategoryUrl } from '@utils/content-utils';

interface Props {
  categories: string[];
  currentCategory?: string;
}

const { categories, currentCategory } = Astro.props;
---

<div id="category-bar" class="card card-bordered border-base-300 mb-4 w-full border-2">
  <div class="card-body flex flex-row items-center gap-2 overflow-auto px-2 py-3">
    <a
      href={`/`}
      class:list={[
        'btn btn-ghost btn-primary h-8 min-h-8 rounded-md px-3 py-0',
        currentCategory ? '' : 'btn-active',
      ]}
    >
      {i18n(I18nKey.recentPosts)}
    </a>
    {
      categories.map((category) => (
        <a
          href={getCategoryUrl(category)}
          class:list={[
            'btn btn-ghost btn-primary h-8 min-h-8 rounded-md px-3 py-0',
            currentCategory === category ? 'btn-active' : '',
          ]}
        >
          {i18n(category)}
        </a>
      ))
    }
  </div>
</div>
