---
import MainLayout from '@layouts/MainLayout.astro';

import I18nKey from '@i18n/I18nKey';
import { i18n } from '@i18n/translation';
---

<MainLayout title={i18n(I18nKey.about)}>
  <div>测试</div>
</MainLayout>
