---
import PostCards from '@components/PostCards.astro';
import CatagoryBar from '@components/widgets/CatagoryBar.astro';
import MainLayout from '@layouts/MainLayout.astro';
---

<MainLayout>
  <div id="main-content">
    <CatagoryBar />
    <PostCards />
  </div>
</MainLayout>
