---
import { searchConfig } from '@/config';
import Algolia from './search/Algolia.astro';
import Pagefind from './search/Pagefind.astro';
---

<dialog id="search_modal" class="modal" transition:persist>
  <div class="modal-box border-base-200 bg-base-300">
    <form method="dialog">
      <button class="btn btn-circle btn-ghost btn-sm absolute right-2 top-2">✕</button>
    </form>
    <div class="w-full p-4">
      {
        (() => {
          switch (searchConfig.provider) {
            case 'pagefind':
              return <Pagefind />;
            case 'algolia':
              return <Algolia />;
          }
        })()
      }
    </div>
    <div class="relative mt-auto w-full flex-shrink-0 pt-4 text-center">
      Powered by {
        searchConfig.provider === 'pagefind' ? (
          <a href="https://pagefind.app" target="_blank" class="text-primary">
            Pagefind
          </a>
        ) : (
          <a href="https://www.algolia.com" target="_blank" class="text-primary">
            Algolia
          </a>
        )
      }
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
