---
import { articleConfig } from '@/config';
import { Icon } from 'astro-icon/components';
import Button from './widgets/Button.astro';
import DarkModeButton from './widgets/DarkModeButton.astro';
---

<div id="side-toolbar" class="fixed bottom-10 right-0 z-30">
  <div id="stb-hide" class="translate-x-full duration-500 ease-in-out" inert>
    <DarkModeButton id="stb-dark-mode" class="" />
  </div>
  <div id="stb-show" class="translate-x-full duration-500 ease-in-out" inert>
    <Button id="stb-show-more">
      <Icon name="material-symbols:settings-rounded" class="animate-spin" />
    </Button>
    {
      articleConfig.toc && (
        <Button id="stb-toc" class="hidden xl:!hidden">
          <Icon name="material-symbols:toc-rounded" />
        </Button>
        <div id="stb-toc-wrapper" class="absolute scale-0 hidden duration-300 bottom-10 max-w-72 w-[calc(100vw-4rem)]"></div>
      )
    }
    <Button id="stb-back-to-top" class="group">
      <span
        id="stb-read-percentage"
        class="absolute text-sm opacity-0 duration-300 group-hover:opacity-0"></span>
      <Icon
        id="stb-back-to-top-icon"
        name="material-symbols:arrow-upward-rounded"
        class="opacity-0 duration-300 group-hover:opacity-100"
      />
    </Button>
  </div>
</div>

<script>
  import { getReadingProgress } from '@scripts/utils';

  function initSideToolBar() {
    const stbHide = document.getElementById('stb-hide');
    const stbShow = document.getElementById('stb-show');
    const stbShowMore = document.getElementById('stb-show-more');
    const stbBackToTop = document.getElementById('stb-back-to-top');
    const stbBackToTopIcon = document.getElementById('stb-back-to-top-icon');
    const stbReadPercent = document.getElementById('stb-read-percentage');
    const stbToc = document.getElementById('stb-toc');
    const stbTocWrapper = document.getElementById('stb-toc-wrapper');

    stbShowMore?.addEventListener('click', () => {
      stbHide?.classList.toggle('translate-x-full');
      stbHide?.toggleAttribute('inert');
    });

    stbBackToTop?.addEventListener('click', () => {
      window.scrollTo({
        top: 0,
        behavior: 'smooth',
      });
    });

    stbToc?.addEventListener('click', () => {
      stbTocWrapper?.classList.toggle('scale-0');
      stbTocWrapper?.classList.toggle('-translate-x-full');
    });

    const toc = document.getElementById('toc');
    if (toc && stbTocWrapper) {
      stbTocWrapper.appendChild(toc.cloneNode(true));
      stbTocWrapper.children[0].id = 'stb-toc-content';
      stbToc?.classList.remove('hidden');
      stbTocWrapper.classList.remove('hidden');
    }

    window.addEventListener('resize', () => {
      if (window.innerWidth > 1280) {
        stbTocWrapper?.classList.add('scale-0');
        stbTocWrapper?.classList.remove('-translate-x-full');
      }
    });

    window.addEventListener('scroll', () => {
      // 控制工具栏显隐
      if (window.scrollY > 0) {
        stbShow?.classList.remove('translate-x-full');
        stbShow?.removeAttribute('inert');
      } else {
        stbShow?.classList.add('translate-x-full');
        stbHide?.classList.add('translate-x-full');
        stbShow?.setAttribute('inert', '');
        stbHide?.setAttribute('inert', '');

        stbTocWrapper?.classList.add('scale-0');
        stbTocWrapper?.classList.remove('-translate-x-full');
      }
      // 控制进度条
      const scrolledPercentage = getReadingProgress();
      if (stbReadPercent) stbReadPercent.textContent = `${scrolledPercentage}`;
      const bottomPos =
        (document.getElementById('comment') || document.getElementById('footer'))?.offsetTop ||
        document.documentElement.scrollHeight;
      const isNearEnd = window.scrollY + document.documentElement.clientHeight >= bottomPos;
      if (isNearEnd) {
        stbReadPercent?.classList.add('opacity-0');
        stbBackToTopIcon?.classList.remove('opacity-0');
      } else {
        stbReadPercent?.classList.remove('opacity-0');
        stbBackToTopIcon?.classList.add('opacity-0');
      }
    });
  }

  document.addEventListener('astro:page-load', initSideToolBar);
</script>

<style lang="scss">
  button {
    @apply bg-[var(--theme-color-light)] dark:bg-[var(--theme-color-dark)];

    &:hover {
      @apply bg-[var(--theme-color-light-lighten)] dark:bg-[var(--theme-color-dark-lighten)];
    }
  }
</style>
