---
import Layout from './Layout.astro';

import Navbar from '@components/Navbar.astro';
import SideToolBar from '@components/SideToolBar.astro';
import Sidebar from '@components/Sidebar.astro';

interface Props {
  title?: string;
  description?: string;
  lang?: string;
  pageType?: string;
}
const { title, description, lang, pageType } = Astro.props;
---

<Layout title={title} description={description} lang={lang}>
  <slot slot="head" name="head" />
  <Sidebar />
  <div id="body-wrap">
    <Navbar title={title} />
    <!-- Main content -->
    <div id="content-wrapper">
      <slot />
    </div>
  </div>
</Layout>
