---
import { searchConfig } from '@/config';
import Navbar from '@components/Navbar.astro';
import PageFooter from '@components/PageFooter.astro';
import Search from '@components/Search.astro';
import SideToolBar from '@components/SideToolBar.astro';
import Sidebar from '@components/Sidebar.astro';
import GlobalLayout from './GlobalLayout.astro';

interface Props {
  title?: string;
  description?: string;
  lang?: string;
  comment?: boolean;
}
const { title, description, lang, comment } = Astro.props;
---

<GlobalLayout title={title} description={description} lang={lang}>
  <slot slot="head" name="head" />
  <Sidebar />
  <SideToolBar />
  <Navbar />
  <slot name="header" />
  <div id="body-wrap" class="w-full items-center md:px-4">
    <!-- Main content -->
    <slot />
  </div>
  {searchConfig.enable && comment && <Search />}
  <PageFooter />
</GlobalLayout>
