---
import Navbar from '@components/Navbar.astro';
import SideToolBar from '@components/SideToolBar.astro';
import Sidebar from '@components/Sidebar.astro';
import GlobalLayout from './GlobalLayout.astro';

interface Props {
  title?: string;
  description?: string;
  lang?: string;
}
const { title, description, lang } = Astro.props;
---

<GlobalLayout title={title} description={description} lang={lang}>
  <slot slot="head" name="head" />
  <Sidebar />
  <SideToolBar />
  <Navbar />
  <div id="body-wrap" class="items-center w-full">
    <!-- Main content -->
    <div id="content-wrapper" class="flex mx-auto gap-4 max-w-screen-xl">
      <slot />
    </div>
  </div>
  <div id="footer"></div>
</GlobalLayout>
